/*
                                 NOTICE

This (software/technical data) was produced for the U. S. Government under
Contract Number 75FCMC18D0047/75FCMC23D0004, and is subject to Federal Acquisition
Regulation Clause 52.227-14, Rights in Data-General. No other use other than
that granted to the U. S. Government, or to those acting on behalf of the U. S.
Government under that Clause is authorized without the express written
permission of The MITRE Corporation. For further information, please contact
The MITRE Corporation, Contracts Management Office, 7515 Colshire Drive,
McLean, VA 22102-7539, (703) 983-6000.

                        ©2024 The MITRE Corporation.
*/

body, html {
  max-height: 90vh !important;
}

.main-container {
  display: flex; 
  background: black!important;
}

.terminal {
  background-color: black;
  background-image: radial-gradient(rgba(0, 50, 0, 0.75), black 120%);
  height: 94vh;
  margin: 0;
  overflow: auto;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  /*text-shadow: 0 0 5px #C8C8C8;*/
}

.terminal-iprelay {
  background-color: black;
  background-image: radial-gradient(rgba(0, 50, 0, 0.75), black 120%);
  margin: 0;
  overflow: auto;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;

}
/* 
#terminal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
} */

::selection {
  background: #0080FF;
  text-shadow: none;
}

#caller-text {
  color:white;
}

#callee-text {
  color:yellow;
}

pre {
  overflow-x: auto;
  overflow-y: scroll;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus+i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.row {
  margin: 0 auto;
  /*width: 250px;*/
  clear: both;
  /*text-align: center;*/
  font-family: 'Exo';
}

.digit {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border:none;
  background-color: transparent;
}

.sub {
  font-size: 0.6rem;
  color: grey;
}

.dialpadcontainer {
  background-color: white;
  /*width: 210px;*/
  padding: 20px;
  margin: 10px auto;
  height: 425px;
  text-align: center;
}

#output {
  font-family: "Exo";
  font-size: 2rem;
  height: 60px;
  font-weight: bold;
  color: #1976d2;
}

#call_btn{
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

#call_button{
  background-color: transparent;
  border: none;
}

#back_btn{
  background-color: transparent;
  border: none;
}

.incall_btn{
  background-color: red !important;
}

.botrow {
  margin: 0 auto;
 /* width: 210px;*/
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

#call_btn:hover {
  background-color: #81c784;
}

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}
.slider.slider-horizontal{
  width:1400px; /* sample value - set it as you like*/
}

.slider.slider-vertical{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.tab_list {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.extension {
  white-space: nowrap;
}

.dialoutput {
  width: 200px;
}

.recording {
  color: red;
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;  
  -ms-animation: blink 1s infinite alternate;  
  -o-animation: blink 1s infinite alternate;  
  animation: blink 1s infinite alternate;   
}

.sidebar-hide {
  min-width:250px;
  overflow-y: hidden;
  padding-left:10px;
  padding-right:10px;
}

.sidebar-hide::before{
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  width: 400px;
}

@media (max-width: 767.98px){
  .sidebar-hide, .sidebar-hide::before {
      box-shadow: none!important;
      margin-left: -250px;
  }
}

.terminal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.extension-info{
  white-space: nowrap;
  margin-left: auto;
}

#scenarioChat{
  height: 100%;
  padding: 0px;
}

.col-container{
  display: flex;
  height:90vh;
}

.left-col{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5px;
}

.right-col{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.call-notes {
 min-width: 100%;
 min-height: 100%;
}

.iprelay-terminal-container {
  min-height: 82%;
  max-height: 82%;
  overflow: auto;
}

.w-40 {
  width: 40%
}

.w-60 {
  width: 60%
}

.sidebar-popout {
  width: 300px;
  padding-left: 30px;
  padding-right: 20px;
}

.aws-cred-warning {
  line-height: .8;
  margin-left: 50px;
}