<!--
                                 NOTICE

This (software/technical data) was produced for the U. S. Government under
Contract Number 75FCMC18D0047/75FCMC23D0004, and is subject to Federal Acquisition
Regulation Clause 52.227-14, Rights in Data-General. No other use other than
that granted to the U. S. Government, or to those acting on behalf of the U. S.
Government under that Clause is authorized without the express written
permission of The MITRE Corporation. For further information, please contact
The MITRE Corporation, Contracts Management Office, 7515 Colshire Drive,
McLean, VA 22102-7539, (703) 983-6000.

                        ©2024 The MITRE Corporation.
-->

<html>

<head>
    <title>ACE Quill Terminal</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/terminal.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/adminlte.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <script src='/assets/js/jquery.min.js'></script>
    <script src='/assets/js/Tone.js'></script>
    <script src='/assets/js/bootstrap.js'></script>
    <script src='/assets/js/adminlte.min.js'></script>
    <script src='/javascript/jssip.min.js'></script>
    <script src='/assets/js/moment.js'></script>
</head>

<body class="hold-transition">
    <!-- Site wrapper -->
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" aria-hidden="true">
            <div class="col-2 offset-4" style="white-space:nowrap;" aria-hidden="true">
                <span id='extensionInfo'><i class="fa fa-circle text-gray"></i> No Registered Extension</span>
            </div>
            <ul class="navbar-nav ml-auto" aria-hidden="true">
                <li class="nav-item " aria-hidden="true">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" aria-hidden="true">
                        <i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4" aria-hidden="false">
            <div class="sidebar" aria-hidden="false">
                <div class="dialpadcontainer">
                    <input type="text" id="output" maxlength="11" size="11" style="width: 200px;" />
                    <br /><br />
                    <div class="row">
                        <div id="one">
                            <button class="digit" type="button">1</button>
                        </div>
                        <div id="two">
                            <button class="digit" type="button">2</button>
                            <div class="sub">ABC</div>
                        </div>
                        <div id="three">
                            <button class="digit" type="button">3</button>
                            <div class="sub">DEF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="four">
                            <button class="digit" type="button">4</button>
                            <div class="sub">GHI</div>
                        </div>
                        <div id="five">
                            <button class="digit" type="button">5</button>
                            <div class="sub">JKL</div>
                        </div>
                        <div id="six">
                            <button class="digit" type="button">6</button>
                            <div class="sub">MNO</div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="seven">
                            <button class="digit" type="button">7</button>
                            <div class="sub">PQRS</div>
                        </div>
                        <div id="eight">
                            <button class="digit" type="button">8</button>
                            <div class="sub">TUV</div>
                        </div>
                        <div id="nine">
                            <button class="digit" type="button">9</button>
                            <div class="sub">WXYZ</div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <button class="digit" type="button">*</button>
                        </div>
                        <div>
                            <button class="digit" type="button">0</button>
                        </div>
                        <div>
                            <button class="digit" type="button">#</button>
                        </div>
                    </div>
                    <div class="botrow">
                        <div>
                            <button id="call_btn" class="fa fa-phone" aria-hidden="false"></button>
                        </div>
                        <div>
                            <button id="back_btn" class="fa fa-long-arrow-left dig" aria-hidden="false"></button>
                        </div>
                    </div>
                </div>
                <!-- call history and favorites -->
                <div class="nav-tabs-custom card">
                    <ul class="nav nav-tabs  mb-3">
                        <li class="nav-item"><a href="#tab_history" data-toggle="pill" aria-expanded="false" role="tab"
                                class="nav-link active"><i class="fa fa-history"></i>&nbsp;History</a>
                        </li>
                        <li class="nav-item"><a href="#tab_contacts" data-toggle="pill" aria-expanded="false" role="tab"
                                class="nav-link"><i class="fa fa-address-book"></i>&nbsp;Contacts</a></li>
                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="tab_history">
                            <div class="col-12"></div>
                            <ul id="call_history" style="padding-left: 0.5em; padding-right: 0.5em;">
                            </ul>
                        </div>
                        <div class="tab-pane" id="tab_contacts">
                            <div class="col-12"></div>
                            <ul id="contacts" style="padding-left: 0.5em; padding-right: 0.5em;">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </aside>
        <div class='content-wrapper'>


            <div class="card blue-grey lighten-5" style="align-items: center;">


                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <h3 class="indigo-text mt-4"><strong>DJ ACE Quill</strong></h3>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <div id="waveform"></div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-12 text-center">
                            <div class="d-flex my-4 pt-3 h-75">
                                <div class="p-5 justify-content-center">
                                    <label for="customRange1">Gain</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="gain"
                                        name="customRange1" value="0" min="-40" max="40" />
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Frequency</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="frequency"
                                        name="customRange1" value="350" min="10" max="22050" />
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Type</label><br>
                                    <div class="form-group" style="text-align:left!important;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="lowpass" onclick="changeType(value)"
                                                checked>
                                            <label class="form-check-label">lowpass</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="highpass" onclick="changeType(value)">
                                            <label class="form-check-label">highpass</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="bandpass" onclick="changeType(value)">
                                            <label class="form-check-label">bandpass</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="lowshelf" onclick="changeType(value)">
                                            <label class="form-check-label">lowshelf</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="notch" onclick="changeType(value)">
                                            <label class="form-check-label">notch</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="allpass" onclick="changeType(value)">
                                            <label class="form-check-label">allpass</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radio1" value="peaking" onclick="changeType(value)">
                                            <label class="form-check-label">peaking</label>
                                        </div>
                                    </div><br>

                                    <label for="customRange1">Noise Cancellation</label><br>
                                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-focused bootstrap-switch-animate bootstrap-switch-on"
                                        style="width: 86px;">
                                        <div class="bootstrap-switch-container" style="width: 126px; margin-left: 0px;">
                                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary"
                                                style="width: 42px;">ON</span><span class="bootstrap-switch-label"
                                                style="width: 42px;">&nbsp;</span><span
                                                class="bootstrap-switch-handle-off bootstrap-switch-default"
                                                style="width: 42px;">OFF</span><input type="checkbox" name="my-checkbox"
                                                checked="" data-bootstrap-switch="">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Pitch</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="customRange1"
                                        name="customRange1" value="48000" min="0" max="96000" />
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Roll Off</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="rolloffRange"
                                        name="customRange1" value="0" min="0" max="3" />
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Q</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="qRange"
                                        name="customRange1" value="1000" min="0" max="10000" />
                                </div>
                                <div class="p-5">
                                    <label for="customRange1">Detune</label><br>
                                    <input type="range" class="form-range slider slider-vertical" id="detuneRange"
                                        name="customRange1" value="0" min="-4800" max="4800" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Card image-->


                </div>
            </div>
        </div>
        <audio id='remoteView' hidden></audio>
        <audio id='selfView' hidden></audio>
        <aside class="control-sidebar control-sidebar-dark" aria-hidden="true">
            <div class="sidebar-form">
                <form role="form">
                    <div class="form-group">
                        <label>Extension</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Extension"
                            id="sipExtension">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-sm" placeholder="Password"
                            id="sipPassword">
                    </div>
                    <div class="form-group">
                        <label>Server</label>
                        <input type="text" class="form-control form-control-sm" placeholder="servername:port"
                            id="sipServer">
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-success btn-sm" id='registerBtn'>Register</button>
                        <button type="button" class="btn btn-danger btn-sm" id='logoutBtn'>Log Out</button>
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-default btn-sm" id='clearBtn'>Clear Terminal</button>
                    </div>
        </aside>

    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="incomingCallModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Incoming Call</h5>
                </div>
                <div class="modal-body">
                    Caller ID: <span id="callerId">7001</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="answerBtn">Answer</button>
                    <button type="button" class="btn btn-danger" id="ignoreBtn">Ignore</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    JsSIP.debug.disable('JsSIP:*');
//JsSIP.debug.enable('JsSIP:*');
</script>
<script src="/javascript/tone-ui.js"></script>
<script src="/javascript/audiocontrols.js"></script>
<script>
    function fixCert() {
        var asteriskHost = $('#sipServer').val();
        window.open('https://' + asteriskHost + '/ws');
    }

    $(document).ready(function () {
        $('#sipExtension').val(localStorage.getItem('sipExtension'));
        $('#sipPassword').val(localStorage.getItem('sipPassword'));
        $('#sipServer').val(localStorage.getItem('sipServer'));

        if (localStorage.getItem('sipServer') != null)
            registerJsSip();
    });

    var ua = null;
    var aria = null;
    var remoteStream = document.getElementById('remoteView')
    var selfStream = document.getElementById("selfView");

    var sipMessageOne = "";
    var sipMessageWhole = "";

    var jssipConnection = {
        display_name: null,
        uri: null,
        password: null,
        socket:
        {
            uri: null,
            via_transport: 'auto',
        },
        registrar_server: null,
        contact_uri: null,
        authorization_user: null,
        instance_id: null,
        session_timers: true,
        use_preloaded_route: false,
        pcConfig:
        {
            rtcpMuxPolicy: 'negotiate'
        },
        callstats:
        {
            enabled: false,
            AppID: null,
            AppSecret: null
        }
    };
    var options = {
        'mediaConstraints': {
            'audio': true,
            'video': false
        },
        'pcConfig': {
            'rtcpMuxPolicy': 'negotiate'
        }
    };


    var currentSession = null;

    function registerJsSip() {

        getHistory();
        getContacts();

        jssipConnection.display_name = localStorage.getItem('sipExtension');
        jssipConnection.uri = localStorage.getItem('sipExtension') + '@' + localStorage.getItem('sipServer');
        jssipConnection.password = localStorage.getItem('sipPassword');
        jssipConnection.socket.uri = 'wss://' + localStorage.getItem('sipServer') + '/ws';


        $('#extensionInfo').html('<i class="fa fa-circle text-gray"></i> ' + jssipConnection.uri + '</span>');
        try {
            var socket = new JsSIP.WebSocketInterface(jssipConnection.socket.uri);
            jssipConnection.sockets = [socket];
            ua = new JsSIP.UA(jssipConnection);
            ua.start();

            ua.on('connected', function (e) {
                if (currentSession == null) {
                    $('#extensionInfo').html('<i class="fa fa-circle text-red"></i> ' + jssipConnection.uri + '</span>');
                }
            });

            ua.on('registered', function (e) {
                if (currentSession == null) {
                    $('#extensionInfo').html('<i class="fa fa-circle text-green"></i> ' + jssipConnection.uri + '</span>');
                }
            });

            ua.on('registrationFailed', function (e) {
                $('#extensionInfo').html('<i class="fa fa-circle text-red"></i> Unknown Registration</span>');
                currentSession = null
            });



            ua.on('newRTCSession', function (e) {
                currentSession = e.session;


                if (currentSession.direction === "incoming") {
                    $('#callerId').html(e.request.from._display_name)
                    $('#incomingCallModal').modal();
                }

                currentSession.on('accepted', function (e) {
                    $('#call_btn').addClass('incall_btn');
                });

                currentSession.on('ended', function (e) {
                    $('#call_btn').removeClass('incall_btn')
                    closeAudioControls();
                });
                currentSession.on('failed', function (e) {
                    $('#call_btn').removeClass('incall_btn')
                });

                if (currentSession.connection) {
                    currentSession.connection.ontrack = function (e) {
                        remoteStream.srcObject = e.streams[0];
                        //remoteStream.play();
                        initAudioControls(e.streams[0]);
                    }
                }
            });

        } catch (err) {
            $('#extensionInfo').html('<i class="fa fa-circle text-gray"></i> Unknown Registration</span>');
        }

    }

    function startCall(number) {
        ua.call(number, options);
        getHistory();
    }
    var count = 0;
    $(".digit").on('click', function () {
        var num = ($(this).clone().children().remove().end().text());
        if (currentSession && !currentSession.isEnded()) {
            currentSession.sendDTMF(num.trim());
        } else if (count < 11) {
            var currentValue = $('#output').val();
            var newValue = currentValue + num;
            $('#output').val(newValue);
            count++
        }
    });

    $('#call_btn').on('click', function () {
        if (currentSession && !currentSession.isEnded()) {
            currentSession.terminate()
            $('#call_btn').removeClass('incall_btn');
        } else {
            let dialnum = $("#output").val();
            $('#call_btn').addClass('incall_btn');
            startCall(dialnum);
        }
    });


    $('#back_btn').on('click', function () {
        var currentValue = $('#output').val();
        var newValue = currentValue.substring(0, currentValue.length - 1);
        $('#output').val(newValue);
        phoneNumber = newValue;
        count--;
    });

    $('#registerBtn').on('click', function () {
        localStorage.setItem('sipExtension', $('#sipExtension').val());
        localStorage.setItem('sipPassword', $('#sipPassword').val());
        localStorage.setItem('sipServer', $('#sipServer').val());
        registerJsSip()
    });

    $('#logoutBtn').on('click', function () {
        localStorage.clear();
        location.reload();
    });

    $('#clearBtn').on('click', function () {
        //TODO Reset audio controls?
    });

    $('#answerBtn').on('click', function () {
        if (currentSession && !currentSession.isEnded()) {
            currentSession.answer(options);
            $('#call_btn').addClass('incall_btn');
            $('#incomingCallModal').modal('hide');
            if (currentSession.connection) {
                currentSession.connection.ontrack = function (e) {
                    remoteStream.srcObject = e.streams[0];
                    remoteStream.play();
                }
            }
        }

    });

    $('#ignoreBtn').on('click', function () {
        if (currentSession && !currentSession.isEnded()) {
            currentSession.terminate()
            $('#call_btn').removeClass('incall_btn');
            $('#incomingCallModal').modal('hide');
        }

    });

    function getHistory() {
        $.ajax({
            url: './iprelay/getHistory',
            type: 'GET',
            data: { "extension": localStorage.getItem('sipExtension') },
            datatype: 'json',
            success: function (data) {
                $('#call_history').html("");
                //Loop through the result and populate the table
                for (var i = 0; i < data.results.length; i++) {
                    var liAttribute = document.createElement('li');
                    liAttribute.setAttribute("style", "font-size:small; cursor:pointer;");
                    liAttribute.setAttribute("id", "call_hist");
                    liAttribute.setAttribute("onclick", "reDial(this)");
                    liAttribute.innerHTML = data.results[i].dest_phone_number 
                            + '<span class="pull-right badge bg-blue" style="font-size:xx-small">' 
                            + moment.utc(data.results[i].call_start, moment.ISO_8601).local().format("MMMM D, YYYY, h:mm:ss A")
                            + "</span>";
                    $('#call_history').append(liAttribute);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error")
            }
        });
    }


    function getContacts() {
        $.ajax({
            url: './iprelay/getContacts',
            type: 'GET',
            data: { "extension": localStorage.getItem('sipExtension') },
            datatype: 'json',
            success: function (data) {
                $('#contacts').html("");
                //Loop through the result and populate the table
                for (var i = 0; i < data.results.length; i++) {
                    var username = data.results[i].username;
                    var number = data.results[i].cellphone;
                    var liAttribute = document.createElement('li');
                    liAttribute.setAttribute("style", "font-size:small; cursor:pointer;");
                    liAttribute.setAttribute("id", number);
                    liAttribute.setAttribute("onclick", "callContact(this)");
                    liAttribute.innerHTML = username + " " + '<span class="pull-right badge bg-blue" style="font-size:x-small">' + number + "</span>";
                    $('#contacts').append(liAttribute);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error")
            }
        });
    }


    function reDial(element) {
        $("#output").val("");
        let number = element.innerHTML.slice(0, 10);
        $("#output").val(number);
    }

    function callContact(element) {
        $("#output").val("");
        let number = element.id;
        $("#output").val(number);
    }

    function changeType(type) {
        setType(type);
    }



    $("#frequency").on("input change", (e) => {
        setFrequency(e.target.value)
    });
    $("#gain").on("input change", (e) => {
        setGain(e.target.value)
    });
    $("#qRange").on("input change", (e) => {
        setQ(e.target.value)
    });
    $("#detuneRange").on("input change", (e) => {
        setDetune(e.target.value)
    });
    $("#rolloffRange").on("input change", (e) => {
        setRolloff(e.target.value)
    });


</script>

</html>